.noneimg{
    display:none; position:absolute;
}

.itemimg{
    width : 200px; height :200px;
}
/* .charimg{
    width:300px; height:300px; position:absolute; right:50px; bottom:380px;
}  */
.randombox{
display: inline-block;
width : 200px; height :200px;
}
/* .itemlist{
    display: flex;
} */
.char{
    width:60%;
}
.text_1{
    text-align: center;
}
.randomimg{
    width : 200px; height :200px;
}
.random{
    margin-left : 200px;
}
/* .itembtn{
    width: 63px;
    height: 20px;
} */