/* p{
    font-size: 25px;
} */
*{

    text-align: center;
}
main{
    background-color: var(--sub-color);
    width:700px;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    /* flex-wrap: wrap; */
    align-items: center;
}
.monthBudget{
    width: 600px;
    height: 50px;
    background-color: var(--btn-color);
    border-radius: 15px;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.leftone{
    width: 180px;
    height: 180px;
    border:8px solid var(--main-color);
    border-radius: 50%;
}

.leftone>p {
    padding:20px;
}
.chartB , .chartD{
    width: 500px;
    height: 500px;
}

h2 {
    font-size: 500;
    margin-top: 150px;
}

.budgetset{
    background-color: var(--sub-color);
    width:500px;
    height: 500px;
}

input{
    width:200px;
    height: 50px;
    border:none;
    border-bottom: 1px solid black;
    background-color: var(--sub-color);
    margin-top: 60px;
}

button{
    background-color: var(--btn-color);
    border:none;
    width:50px;
    height: 30px;
    border-radius: 10px;
    color : var(--sub-color);
}

.backbtn{
    display: inline-block;
    margin: 80px;
}

.categoryChart{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */

}

a{
    color : var(--main-color);
}

.budget_a{
    margin:-100px 0 30px 500px;
}

.weekbudget{
    margin-top: 50px;
}

.catdetail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 300px;
}


        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 30%; /* Could be more or less, depending on screen size */                          
        }
